.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    margin: 0 0 0 48px;
    white-space: nowrap;
    
}

.khan__buy-link:hover {
    animation: op 1s  forwards;
}